<div class="card">
    <h3 class="card-header pl-5">
        Search Tours:
    </h3>
    <div class="card-body d-flex justify-content-center">
        <form method="post" action="/tours/search"class="form-inline">
            <select id="location" name="location" class="form-control form-select-md mr-2" style="width: 11em">
                <option selected disabled>Location</option>
                {{#each locations}}
                    <option value="{{lid}}">{{lname}}</option>
                {{/each}}
            </select>
            <input class="form-control mr-2"  type="text" placeholder="Tour name" id="tourname" name="tourname">
            <input class="form-control mr-2"  type="number" placeholder="price" id="price" name="price">
            <input class="form-control mr-2" type="date" placeholder="By date start" id="datestart" name="datestart">
            <button class="btn btn-primary font-weight-bold" type="submit">
                <i class="fa fa-search mr-2" aria-hidden="true"></i>Search Tour
            </button>
        </form>
    </div>
</div>
<div class="row mb-5 mt-3">
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000">
            <h4 class="card-header text-center" style="background-color: #69c510">
                Newest Tour
            </h4>
            {{#each newestTours}}
                <div class="card-body">
                    <div class="card" style="width: auto;">
                        <img src="/public/image/tours/{{tourid}}.jpg" class="card-img-top" alt="..."
                             style="height: 16.5em;">
                        <div class="card-body">
                            <h5 style="height: 50px;">{{tourname}}</h5>
                            <div class="text-danger font-weight-bold">Price: {{formatMoney price}}</div>
                            <div>Time Start: {{formatDateTime datestart}}</div>
                            <div>Time End: {{formatDateTime dateend}}</div>
                        </div>
                        <div class="card-footer text-muted text-right">
                            <a class="btn btn-md btn-outline-primary" href="/tours/detail/{{tourid}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-md btn-outline-success" href="/cart/add?tid={{tourid}}" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="card-footer text-muted text-center">
                <a class="btn btn-lg btn-outline-primary" href="/newest" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000">
            <h4 class="card-header text-center" style="background-color: #fccc45">
                Highest Price Tours
            </h4>
            {{#each highestPriceTours}}
                <div class="card-body">
                    <div class="card" style="width: auto;">
                        <img src="/public/image/tours/{{tourid}}.jpg" class="card-img-top" alt="..."
                             style="height: 16.5em;">
                        <div class="card-body">
                            <h5 style="height: 50px;">{{tourname}}</h5>
                            <div class="text-danger font-weight-bold">Price: {{formatMoney price}}</div>
                            <div>Time Start: {{formatDateTime datestart}}</div>
                            <div>Time End: {{formatDateTime dateend}}</div>
                        </div>
                        <div class="card-footer text-muted text-right">
                            <a class="btn btn-md btn-outline-primary" href="/tours/detail/{{tourid}}" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                            </a>
                            <a class="btn btn-md btn-outline-success" href="/cart/add?tid={{tourid}}" role="button">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Booking
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="card-footer text-muted text-center">
                <a class="btn btn-lg btn-outline-primary" href="/highestprice" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-3 vh-1000  align-item-center justify-content-center">
            <h4 class="card-header text-center" style="background-color: aqua">
                Upcoming Tour
            </h4>
            {{#each upcomingTours}}
                <div class="card-body">
                    <div class="card" style="width: auto;">
                        <img src="/public/image/tours/{{tourid}}.jpg" class="card-img-top" alt="..."
                             style="height: 16.5em;">
                        <div class="card-body">
                            <h5 style="height: 50px;">{{tourname}}</h5>
                            <div class="text-danger font-weight-bold">Price: {{formatMoney price}}</div>
                            <div>Time Start: {{formatDateTime datestart}}</div>
                            <div>Time End: {{formatDateTime dateend}}</div>
                        </div>
                        <div class="card-footer text-muted text-right">
                            <a class="btn btn-md btn-outline-primary" href="/tours/detail/{{tourid}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-md btn-outline-success" href="/cart/add?tid={{tourid}}" role="button">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Booking
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="card-footer text-muted text-center">
                <a class="btn btn-lg btn-outline-primary" href="/upcoming" role="button">
                    <i class="fa fa-angle-double-right"></i>
                    View more
                </a>
            </div>
        </div>
    </div>
</div>