<div class="container border-2">
    <h2>
        Tours list:
    </h2>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

    <div class="row">
        {{#each tours}}
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card-body">
                    <div class="card" style="width: auto;">
                        <img src="/public/image/tours/{{tourid}}.jpg" class="card-img-top" alt="..."
                             style="height: 16.5em;">
                        <div class="card-body">
                            <h4 style="height: 50px;">{{tourname}}</h4>
                            <h5>Time Start: {{title}}</h5>
                            <div class="text-danger font-weight-bold">Price: {{formatMoney price}}</div>
                            <div>Time Start: {{formatDateTime datestart}}</div>
                            <div>Time Start: {{formatDateTime dateend}}</div>
                        </div>
                        <div class="card-footer text-muted text-right">
                            <a class="btn btn-md btn-outline-primary" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-md btn-outline-success" href="#" role="button">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Booking
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
