<div class="card col-sm-12 col-md-12 col-lg-2 col-xl-12">
    <div class="d-flex">
        <div class="col-md-9 text-left mt-3">
            <h3 class="mt-3">List tours</h3>
        </div>
        <div class="col-md-3 text-right mt-3">
            <a href="/tours/add" style="background-color:#f5a623"
               class="btn btn-primary btn-block mb-3 text-dark font-weight-bold">
                <i class="fa fa-plus " aria-hidden="true"></i>
                Add new Tour</a>
        </div>
    </div>
    <div id ="table-wrapper"class="">
        <table class="table table-hover table-bordered table-striped">
            <tr class="thead-light">
                <th scope="col">Tourid</th>
                <th scope="col">Tourname</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Date Published</th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tbody>
            {{#each tours}}
                <tr>
                    <td>{{tourid}}</td>
                    <td class="tm-product-name">{{tourname}}</td>
                    <td>{{location}}</td>
                    <td>{{price}}</td>
                    <td>{{datepublished}}</td>
                    <td class="text-right">
                        <a href="#" class="btn btn-primary btn-sm">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
